.addTask{
    max-width: 800px;
    margin: 50px auto;
    padding: 2px;
    box-shadow: rgba(3, 0, 0, 0.02) 0px 1px 3px 0px , rgba(29, 27, 27, 0.02) 0px 0px 3px 0px;
    border-radius: 5px;
}
.addTask form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.addTask label{
    font-size: 20px;
    margin-right: 5px;
}
.addTask input{
    font-size: 18px;
    padding: 7px;
    border: 1px solid #878787;
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px;
}
.addTask input:focus{
    outline: none;
}
.addTask section{
    font-size: 18px;
    padding: 17px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.addTask button{
    font-size: 18px;
    padding: 7px 10px;
    margin: 10px;
}
